<div id="detalles" [class.mat-elevation-z8]='true'>
    <mat-card>
        <mat-card-title id="titulo">Editor del libro {{libro.cod}}</mat-card-title>
        <div id="lista">
            <mat-form-field>
                <mat-label>Codigo</mat-label>
                <input matInput placeholder="Eje: 214" type="text" class="formulario" [(ngModel)]="libro.cod">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Eje: El diario de Noa" type="text" class="formulario" [(ngModel)]="libro.titulo">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fecha Publicación</mat-label>
                <input matInput placeholder="Fecha Publi." type="date" class="formulario" [(ngModel)]="libro.fechPubli">
            </mat-form-field>    
            <mat-form-field>
                <mat-label>Stock</mat-label>
                <input matInput placeholder="10,15..." type="number" class="formulario" [(ngModel)]="libro.stock">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Eje: Novela romantica..." type=text class="formulario" [(ngModel)]="libro.descrip">
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <button mat-mini-fab color="accent" (click)="update()"><mat-icon>done</mat-icon></button>
            <button mat-mini-fab color="warn" (click)="atras()" id="salir"><mat-icon>highlight_off</mat-icon></button>
        </div>
    </mat-card>    
</div>
