<div style="margin-bottom:100px;margin-left: 50px;">
    ID: <input type="text" class="formulario" [(ngModel)]="libro.id"><br>
    Titulo: <input type=text class="formulario" [(ngModel)]="libro.titulo"><br>
    Fech. publicación: <input type="date" class="formulario" [(ngModel)]="libro.fechPubli"><br>
    Stock: <input type="number" class="formulario" [(ngModel)]="libro.stock"><br>
    Descripción: <input type=text class="formulario" [(ngModel)]="libro.descrip"><br>
    <button (click)="create()">Guardar</button>
  </div>
